{% extends 'BloodBank/layout.html'%}
{% load static %}
{% block title %}Receivers{% endblock %}
{% block body %}
     <h3>Doctors</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <br><br><br>

                    <a href="{% url 'bloodbank:add_receiver'%}">
                        <button type="button" class="btn btn-dark btn-group-small" height="45px">
                            Add 
                        </button>
                    </a>

                    <table class="table" align="center">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Blood group</th>
                            <th>Units received</th>
                            <th>Date</th>
                            <th>Contact</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for receiver in receivers %}
                            <tr>
                                <td>
                                    {{ receiver.name }}
                                </td>
                                <td>
                                    {{ receiver.blood_group}}
                                </td>
                                <td>
                                    {{receiver.no_of_units_recieved}}
                                </td>
                                <td>
                                    {{receiver.date}}
                                </td>
                                <td>
                                    {{receiver.contact}}
                                </td> 
                                <td>
                                    {{receiver.email}}
                                </td>
                               
                                <td>
                                    <form action="{% url 'bloodbank:delete_receiver' receiver.id %}" method="post" style="display: inline;">
                                     {% csrf_token %}
                                     <input type="hidden" name="album_id" value="{{ album.id }}" />
                                     <button type="submit" class="btn btn-default btn-sm">
                                     <i class="fas fa-trash"></i>
                                     </button>
                                     </form>
                                 </td>
                                 <td>
                                     <form action="{% url 'bloodbank:edit_receiver' receiver.id %}" method="post" style="display: inline;">
                                     {% csrf_token %}
                                     <input type="hidden" name="album_id" value="{{ album.id }}" />
                                     <button type="submit" class="btn btn-default btn-sm">
                                     <i class="fas fa-edit"></i>
                                     </button>
                                     </form>
                                 </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

{% endblock %}