{% extends 'Medical_Store/layout.html'%}
{% load static %}
{% block title %}Medicine Inventory{% endblock %}
{% block body %}
     <h3>Medicine Inventory</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <br><br><br>

                    <a href="{% url 'Medical_Store:add_inventory'%}">
                        <button type="button" class="btn btn-dark btn-group-small" height="45px">
                            Add 
                        </button>
                    </a>

                    <table class="table" align="center">
                        <thead>
                        <tr>
                            <th> Name</th>
                            <th>Company</th>
                            <th>MFD</th>
                            <th>Expiry</th>
                            <th>MRP</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for medicine in inventory %}
                            <tr>
                                <td>
                                    {{ medicine.name }}
                                </td>
                                <td>
                                    {{medicine.company}}
                                </td>
                                <td>
                                    {{medicine.mfd}}
                                </td>
                                <td>
                                    {{medicine.expiry}}
                                </td>
                                <td>
                                    {{medicine.mrp}}
                                </td>
                               
                                <td>
                                    <!--ek baar next line check karna ki medicine_inventory.id likhna hai ya only inventory.id-->
                                    <form action="{% url 'Medical_Store:delete_inventory' medicine.id %}" method="post" style="display: inline;">
                                     {% csrf_token %}
                                     <input type="hidden" name="album_id" value="{{ album.id }}" />
                                     <button type="submit" class="btn btn-default btn-sm">
                                     <i class="fas fa-trash"></i>
                                     </button>
                                     </form>
                                 </td>
                                 <td>
                                     <form action="{% url 'Medical_Store:edit_inventory' medicine.id %}" method="post" style="display: inline;">
                                     {% csrf_token %}
                                     <input type="hidden" name="album_id" value="{{ album.id }}" />
                                     <button type="submit" class="btn btn-default btn-sm">
                                     <i class="fas fa-edit"></i>
                                     </button>
                                     </form>
                                 </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

{% endblock %}