{% extends 'Hospital/layout.html'%}
{% block title %} Doctor Registration {% endblock %}
{% block body %}
    <div class="heading">
      		<h2>Doctor Details</h2>
      	</div>
      	<div class="custom-form">
                <form action="get">
                	<label for="name">Name</label><br>
                    <input type="text" name="name" id="name" placeholder="Name"><br>

                    <label for="qualification">Qualification</label><br>
                    <input type="text" name="qualification" id="qualification" placeholder="Qualification"><br>
                    <label for="specialist">Specialist</label><br>
                    <input type="text" name="specialist" id="specialist" placeholder="Specialist"><br>
                    <label for="contact">Contact</label><br>
                    <input type="text" name="contact" id="contact" placeholder="Contact Number"><br>

                    <label for="appt">Consulting time</label><br>
  					<label for="time" id="time">From:</label><input type="time" id="from" name="from">
  					<label for="time">to:</label><input type="time" id="to" name="to">
  					<br>
                    
                    <label for="days">Number of Days</label><br>
					    <select id="number" name="number">
					      <option value="1">1</option>
					      <option value="2">2</option>
					      <option value="3">3</option>
					    </select>

					    <br><br>

					<input type="submit" name="Submit" id ="Submit" value="Submit">
                </form>
            </div>
{% endblock %}