{% extends 'Hospital/layout.html'%}
{% block title %} Doctor Registration {% endblock %}
{% block body %}
    <div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Enter Doctor Details</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
                    {% if error_message %}
                    <p><strong>{{error_message}}</strong></p>
                	{% endif  %}
					<form method="POST" action="">
					{% csrf_token %}
						<div class="input-group mb-3">
							<label for="name"> Doctor's Name </label>
							{{ form.name }}
						</div>
						<div class="input-group mb-2">
							<label for="name">Specialist </label>
							{{ form.speciality }}
						</div>
						<div class="input-group mb-2">
							<label for="name">Qualification  </label>
							{{ form.qualification }}
						</div>
						<div class="input-group mb-2">
							<label for="name">Contact  </label>
							{{ form.contact }}
						</div>
                        <div class="input-group mb-2">
							<label for="name">Consultaing Hours  </label>
							{{ form.consult_hrs }}
						</div>
                        <div class="input-group mb-2">
							<label for="name">Days</label>
							{{ form.working_days }}
						</div>
						
				   		<div class="d-flex justify-content-center mt-3 login_container">
				 			<input class="btn login_btn" type="submit" value="Submit">
				   		</div>
					</form>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}