<!DOCTYPE html>
<html>
    
<head>
{% load static  %}
	<title>{% block title %}{% endblock %}</title>
    
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'myuser/css/register.css' %}"/>
  
</head>
<body>
	</head>
<body>
    <header>

        <a id="logo" href="#">
            <img src="{% static 'myuser/css/logo.png' %}" alt="Logo">
            <span>Frontida</span>
        </a>

        <nav>
            <ul>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>

    </header>
    {{% block body %}
{% endblock %}}
</body>
</html>