{% extends 'Hospital/layout.html'%}
{% load static %}
{% block title %}Patients{% endblock %}
{% block body %}
     <h3>Doctors</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <br><br><br>

                    <a href="{% url 'Hospital:add_patient'%}">
                        <button type="button" class="btn btn-dark btn-group-small" height="45px">
                            Add 
                        </button>
                    </a>

                    <table class="table" align="center">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>DOB</th>
                            <th>Gender</th>
                            <th>Blood group</th>
                            <th>Medical history</th>
                            <th>Contact</th>
                            <th>Admission date</th>
                            <th>Discharge date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for patient in patients %}
                            <tr>
                                <td>
                                    {{ patient.name }}
                                </td>
                                <td>
                                    {{ patient.dob}}
                                </td>
                                <td>
                                    {{patient.gender}}
                                </td>
                                <td>
                                    {{patient.blood_group}}
                                </td>
                                <td>
                                    {{patient.med_history}}
                                </td> 
                                <td>
                                    {{patient.contact}}
                                </td>
                                <td>
                                    {{patient.adm_date}}
                                </td>
                                <td>
                                    {{patient.discharge_date}}
                                </td>
                                
                                <td>
                                    <form action="{% url 'Hospital:delete_patient' patient.id %}" method="post" style="display: inline;">
                                     {% csrf_token %}
                                     <input type="hidden" name="album_id" value="{{ album.id }}" />
                                     <button type="submit" class="btn btn-default btn-sm">
                                     <i class="fas fa-trash"></i>
                                     </button>
                                     </form>
                                 </td>
                                 <td>
                                     <form action="{% url 'Hospital:edit_patient' patient.id %}" method="post" style="display: inline;">
                                     {% csrf_token %}
                                     <input type="hidden" name="album_id" value="{{ album.id }}" />
                                     <button type="submit" class="btn btn-default btn-sm">
                                     <i class="fas fa-edit"></i>
                                     </button>
                                     </form>
                                 </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

{% endblock %}