{% extends 'Ambulance/layout.html'%}
{% load static %}
{% block title %}Ambulance Details{% endblock %}
{% block body %}
     <h3>Ambulance Details</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <br><br><br>

                    <a href="{% url 'Ambulance:add_ambulance'%}">
                        <button type="button" class="btn btn-dark btn-group-small" height="45px">
                            Add 
                        </button>
                    </a>

                    <table class="table" align="center">
                        <thead>
                        <tr>
                            <th> Vehicle number</th>
                            <th>Name</th>
                            <th>City</th>
                            <th>Pincode</th>
                            <th>Contact</th>
                            <th>Ambulance type</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ambulance in ambulance_details %}
                            <tr>
                                <td>
                                    {{ ambulance.vehicle_no }}
                                </td>
                                <td>
                                    {{ambulance.name}}
                                </td>
                                <td>
                                    {{ambulance.city}}
                                </td>
                                <td>
                                    {{ambulance.pincode}}
                                </td>
                                <td>
                                    {{ambulance.contact}}
                                </td>
                                <td>
                                    {{ambulance.amb_type}}
                                </td>
                               
                                <td>
                                    <form action="{% url 'Ambulance:delete_ambulance' ambulance.id %}" method="post" style="display: inline;">
                                     {% csrf_token %}
                                     <input type="hidden" name="album_id" value="{{ album.id }}" />
                                     <button type="submit" class="btn btn-default btn-sm">
                                     <i class="fas fa-trash"></i>
                                     </button>
                                     </form>
                                 </td>
                                 <td>
                                     <form action="{% url 'Ambulance:edit_ambulance' ambulance.id %}" method="post" style="display: inline;">
                                     {% csrf_token %}
                                     <input type="hidden" name="album_id" value="{{ album.id }}" />
                                     <button type="submit" class="btn btn-default btn-sm">
                                     <i class="fas fa-edit"></i>
                                     </button>
                                     </form>
                                 </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

{% endblock %}