<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Frontida</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'myuser/css/main.css'%}" />
		<noscript>
		<link rel="stylesheet" href="{% static 'assets/css/noscript.css'%}" />
		</noscript>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body class="is-preload">
			<div id="wrapper">

					<header id="header">
						<div class="inner">

								<a href="#" class="logo">
									<span class="symbol"><img src="{%static 'myuser/images/logo.png'}" alt="" /></span>
								</a>

								<nav>
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="{% url 'myuser:login'%}">Login</a></li>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="#">Medical Store</a></li>
							<li><a href="#">Blood Bank</a></li>
							<li><a href="#">Ambulance Service</a></li>
						</ul>
					</nav>

					<div id="main">
						<div class="inner">
							<header>
								<h1>Frontida</h1>
								<p>HealthCare at your door steps.<br>frontida@gmail.com | +91 69420 69420</p>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="{% static 'myuser/images/pic01.jpg'%}" alt="" />
									</span>
									<a href="{% url 'myuser:search_hopital' %}">
										<h2>Hospital</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style2">
								<a href="{% url 'myuser:search_ambulance' %}>
									<span class="image">
										<img src="{% static 'myuser/images/pic03.jpg'%}" alt="" />
									</span>
									</a>
									<a href="{% url 'myuser:search_ambulance' %}>
										<h2>Ambulance</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="{% static 'myuser/images/pic01.jpg'%}" alt="" />
									</span>
									<a href="{% url 'myuser:search_medicine' %}>
										<h2>Medicine</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="{% static 'myuser/images/pic04.jpg'%}" alt="" />
									</span>
									<a href="{% url 'myuser:search_bloodbank'%}>
										<h2>Blood Bank</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								
							</section>
						</div>
					</div>

					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="field half">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="field">
											<textarea name="message" id="message" placeholder="Message"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send" class="primary" /></li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<a href="#" class="fa fa-facebook"></a>
									<a href="#" class="fa fa-twitter"></a>
									<a href="#" class="fa fa-google"></a>
									<a href="#" class="fa fa-linkedin"></a>
									<a href="#" class="fa fa-youtube"></a>
									<a href="#" class="fa fa-instagram"></a>
									<a href="#" class="fa fa-pinterest"></a>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Frontida. All rights reserved</li>
							</ul>
						</div>
					</footer>

			</div>

			<script src="{% static 'myuser/js/jquery.min.js'%}"></script>
			<script src="{% static 'myuser/js/browser.min.js'%}"></script>
			<script src="{% static 'myuser/js/breakpoints.min.js'%}"></script>
			<script src="{% static 'myuser/js/util.js'%}"></script>
			<script src="{% static 'myuser/js/main.js'%}"></script>

	</body>
</html>